<h2>User info</h2>

  <%= image_tag user.get_profile_image(100, 100) %>
  <table class="table table-hover mt-2">
    <tr></tr>
    <tr>
      <th>name</th>
      <th><%= user.name %></th>
    </tr>
    <tr>
      <th>introduction</th>
      <th><%= user.introduction %></th>
    </tr>
    <% unless current_user == user %>
      <tr>
        <th><%= render 'relationships/follow', user: @user %></th>
        <th></th>
      </tr>
    <% end %>
    <tr>
      <th><%= link_to "following", user_followings_path(@user.id) %></th>
      <th><%= link_to "follower", user_followers_path(@user.id) %></th>
    </tr>
  </table>
  <div class="row">
      <%=  link_to edit_user_path(user.id), class: "btn btn-outline-secondary btn-block" do %>
        <i class="fas fa-user-cog"></i>
      <% end %>
  </div>

<h2>New book</h2>

  <%= form_with model: book, url: books_path do |f| %>
    <div class="form-group">
      <%= f.label :title, for: "book_title" %>
      <%= f.text_field :title, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :opinion, for: "book_body" %>
      <%= f.text_area :body, class: "form-control" %>
    </div>

    <div class="form-group">
    <%= f.submit "Create Book", class: "btn btn-success" %>
    </div>

  <% end %>
