<h2>User info</h2>

<% if @user.errors.any? %>
  <div id="error_explanation">
    <h3><%= @user.errors.count %> error prohibited this obj from being saved:</h3>
  </div>
  <ul>
    <% @user.errors.full_messages.each do |message|  %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<%= form_with model: @user, url: user_path(@user.id), method: :patch do |f| %>

  <div>
    <%= f.label :Name, for: "user_name" %>
    <%= f.text_field :name %>
  </div>

  <div>
    <%= f.label :Image, for: "user_profile_image" %>
    <%= f.file_field :profile_image, accept: "image/*" %>
  </div>

  <div>
    <%= f.label :Introduction, for: "user_introduction" %>
    <%= f.text_area :introduction %>
  </div>

  <div>
  <%= f.submit "Update User" %>
  </div>

<% end %>