<div>
  <h2>User info</h2>

    <%= image_tag @user.get_profile_image(100, 100) %>
    <%= @user.name %>
    <%= @user.introduction %>
    <% if @user == current_user %>
      <%=  link_to "編集", edit_user_path(@user.id) %>
    <% else %>
      <%= link_to "編集", user_path(current_user) %>
    <% end %>

  <h2>New book</h2>

    <%= form_with model: @book, url: books_path do |f| %>

      <%= f.label :Title, for: "book_title" %>
      <%= f.text_field :title %>

      <%= f.label :Opinion, for: "book_body" %>
      <%= f.text_area :body %>

      <%= f.submit "Create Book" %>

    <% end %>
</div>

<div>
  <h2>Book detail</h2>
  <table>
    <tbody>
      <tr>
        <td>
          <%= link_to user_path(@user.id) do %>
           <%= image_tag @user.get_profile_image(100, 100) %><br><%= @user.name %>
           <% end %>
        </td>
        <td><%= link_to @user_book.title, book_path(@user_book.id) %></td>
        <td><%= @user_book.body %></td>
        <% if @user_book.user.id == current_user.id %>
          <td><%= link_to "Edit", edit_book_path(@user_book.id) %></td>
          <td><%= link_to "Destroy", book_path, method: :delete %></td>
        <% end %>
      </tr>
    </tbody>
  </table>
</div>